In [1]:
import torch
from torch.utils.data import Dataset, DataLoader
from torch import nn
import torch.optim as optim
import torch.nn.functional as F

from tqdm import tqdm

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import time
from pathlib import Path

In [2]:
cur_dir = Path('.').absolute()
data_dir=cur_dir.parent/ 'data'

print('current directory: ',cur_dir)

current directory:  /home/t/aproject/movie-recommender-system-collaborative-filtering/notebooks

In [3]:
list(data_dir.iterdir())

[PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/tag.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/movie.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/link.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/rating.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/new_movie_df.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/movies.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/plot_embedding.csv'),
 PosixPath('/home/t/aproject/movie-recommender-system-collaborative-filtering/data/new_user_df.csv')]

## Exploring Movie df

In [4]:
movie_df = pd.read_csv(data_dir/'movie.csv')

In [5]:
def get_movie_name(idx, df):
    try:
        return df[df.movieId==idx].title.values[0]
    except IndexError as e:
        print("IndexError:", idx)

def get_movie_id(movie_name, df):
    try:
        return df[df.title==movie_name].movieId.values[0]
    except IndexError as e:
        print("Movie not found in dataset")

In [6]:
movie_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  object
 2   genres   27278 non-null  object
dtypes: int64(1), object(2)
memory usage: 639.5+ KB

In [7]:
movie_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
movie_df.isna().sum() # no nulls

movieId    0
title      0
genres     0
dtype: int64

In [9]:
movie_df.duplicated().sum() #no duplicates

0

In [10]:
movie_df.title.nunique()

27262

In [11]:

# Calculate the value counts for each movie title
title_value_counts = movie_df['title'].value_counts()

# Filter titles that appear more than once
duplicate_titles = title_value_counts[title_value_counts > 1].index.tolist()

print(duplicate_titles)

['Aladdin (1992)', 'Johnny Express (2014)', 'Chaos (2005)', 'Hamlet (2000)', '20,000 Leagues Under the Sea (1997)', 'Darling (2007)', 'Casanova (2005)', 'Paradise (2013)', 'Beneath (2013)', 'Girl, The (2012)', 'Clear History (2013)', 'Emma (1996)', 'Offside (2006)', 'Blackout (2007)', 'Men with Guns (1997)', 'War of the Worlds (2005)']

Some movies have multiple entries with different `movieid` , but it doesn't affect much

so in genres column there seems to have no spaces bw genres, lets see want unique genres as there

In [12]:
all_genres = movie_df.genres.apply(lambda x : ' '.join(str(x).split('|'))).values.tolist() # split from |
all_genres = ' '.join(set(all_genres)).split() # join all strings and break them into words
all_genres = set(all_genres)  # make a set to find unique ones

In [13]:
print(all_genres, len(all_genres))

{'Romance', 'Comedy', 'Drama', 'Western', 'Fantasy', 'genres', 'Mystery', 'Documentary', 'listed)', 'Film-Noir', 'Adventure', 'IMAX', 'War', 'Action', 'Children', 'Horror', 'Musical', 'Crime', '(no', 'Thriller', 'Animation', 'Sci-Fi'} 22

there are 20 genres and 1 for movies with no genre (which is (no listed)) which is broken as '(no' and 'listed)'

<br>

there are alot of movies that only has 1,2 reviews , so now we will only consider mmovies which has more than 100 review.

In [14]:
import seaborn as sns
import matplotlib.pyplot as plt

## Exploraing User data

In [15]:
user_df = pd.read_csv(data_dir/'rating.csv', usecols=['userId','movieId','rating'])

In [16]:
# this columns are using too much precision for very low values, lowering the datatype precision
user_df['movieId'] = user_df['movieId'].astype('int32') # dont lower too much as it changes the numbers to accomodate to the range
user_df['userId'] = user_df['userId'].astype('int32')
user_df['rating'] = user_df['rating'].astype('float32')
print()

In [17]:
user_df.userId.max(), user_df.userId.min(), user_df.userId.nunique()

(138493, 1, 138493)

In [18]:
user_df.shape #(20000263,3)

(20000263, 3)

In [19]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000263 entries, 0 to 20000262
Data columns (total 3 columns):
 #   Column   Dtype
---  ------   -----
 0   userId   int32
 1   movieId  int32
 2   rating   float32
dtypes: float32(1), int32(2)
memory usage: 228.9 MB

In [20]:
user_df.head()

   userId  movieId  rating
0       1        2     3.5
1       1       29     3.5
2       1       32     3.5
3       1       47     3.5
4       1       50     3.5

finding out reviews per movies

In [21]:
movie_vote_count = user_df.movieId.value_counts()
movie_vote_count

movieId
296       67310
356       66172
318       63366
593       63299
480       59715
          ...
125545        1
78873         1
112907        1
112909        1
110510        1
Name: count, Length: 26744, dtype: int64

In [22]:
print('Most voted movies')
i=20
for idx, count in zip(movie_vote_count.index ,movie_vote_count.to_list()):
    print(f"{get_movie_name(idx, movie_df):35} : {count}")
    i -= 1
    if i==0:
        break

Most voted movies
Pulp Fiction (1994)                 : 67310
Forrest Gump (1994)                 : 66172
Shawshank Redemption, The (1994)    : 63366
Silence of the Lambs, The (1991)    : 63299
Jurassic Park (1993)                : 59715
Star Wars: Episode IV - A New Hope (1977) : 54502
Braveheart (1995)                   : 53769
Terminator 2: Judgment Day (1991)   : 52244
Matrix, The (1999)                  : 51334
Schindler's List (1993)             : 50054
Toy Story (1995)                    : 49695
Fugitive, The (1993)                : 49581
Apollo 13 (1995)                    : 47777
Independence Day (a.k.a. ID4) (1996) : 47048
Usual Suspects, The (1995)          : 47006
Star Wars: Episode VI - Return of the Jedi (1983) : 46839
Batman (1989)                       : 46054
Star Wars: Episode V - The Empire Strikes Back (1980) : 45313
American Beauty (1999)              : 44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995) : 44980

In [23]:
movie_df_rating_filter = 100

In [24]:
popular_movieIds = movie_vote_count[movie_vote_count>=movie_df_rating_filter].index
popular_movieIds

Index([   296,    356,    318,    593,    480,    260,    110,    589,   2571,
          527,
       ...
       112911,   8201,  30867,    687,  71878,   4208,  59915,   5256,  51127,
        26746],
      dtype='int32', name='movieId', length=8546)

In [25]:
new_user_df = user_df[user_df['movieId'].isin(popular_movieIds)]
new_user_df.shape

(19706281, 3)

we only lost ~300k ratings while droppin alot of redundent movies while extremly low reviews.

same for the users, if users with certain number of reviews  will be used.

In [26]:
user_vote_count = user_df.userId.value_counts()
user_vote_count

userId
118205    9254
8405      7515
82418     5646
121535    5520
125794    5491
          ...
89305       20
110463      20
96990       20
134747      20
6526        20
Name: count, Length: 138493, dtype: int64

In [27]:
print('Most user reviews')
i=20
for idx, count in zip(user_vote_count.index ,user_vote_count.to_list()):
    print(f"{idx:35} : {count}")
    i -= 1
    if i==0:
        break

Most user reviews
                             118205 : 9254
                               8405 : 7515
                              82418 : 5646
                             121535 : 5520
                             125794 : 5491
                              74142 : 5447
                              34576 : 5356
                             131904 : 5330
                              83090 : 5169
                              59477 : 4988
                             130767 : 4785
                              79159 : 4707
                               8963 : 4524
                              15617 : 4354
                              92011 : 4236
                              71975 : 4182
                              20132 : 4101
                              46470 : 4094
                              88820 : 4093
                              63147 : 3958

In [28]:
user_df_vote_filter = 500

In [29]:
popular_userIds = user_vote_count[user_vote_count>=user_df_vote_filter].index
popular_userIds

Index([118205,   8405,  82418, 121535, 125794,  74142,  34576, 131904,  83090,
        59477,
       ...
       134897,  50213,  63094, 111821, 103323,  86186,  63958,  28709,  80789,
        62328],
      dtype='int32', name='userId', length=7491)

In [30]:
new_user_df = new_user_df[new_user_df['userId'].isin(popular_userIds)]
new_user_df.shape

(6370818, 3)

In [31]:
new_movie_df = movie_df[movie_df['movieId'].isin(popular_movieIds)]
new_movie_df.shape

(8546, 3)

In [32]:
new_user_df.movieId.value_counts()

movieId
2571     6980
356      6912
480      6868
1270     6853
296      6813
         ...
797        20
51372      17
1075       16
1133       16
795        16
Name: count, Length: 8546, dtype: int64

In [33]:
# new_movie_df.to_csv(data_dir/'new_movie_df.csv')
# new_user_df.to_csv(data_dir/'new_user_df.csv')

In [34]:
from dataclasses import dataclass
class MovieRatingDataset2(Dataset):
    def __init__(self, df):
        self.df = df.copy()

        self.num_users = df.userId.nunique()
        self.num_movies = df.movieId.nunique()

    def __len__(self):
        return len(self.df)

    def __getitem__(self, idx):
        user_id = torch.tensor(self.df.iloc[idx]["userId"], dtype=torch.int32)
        movie_id = torch.tensor(self.df.iloc[idx]["movieId"], dtype=torch.int32)
        rating = torch.tensor(self.df.iloc[idx]["rating"], dtype=torch.float32)
        return user_id, movie_id, rating


@dataclass
class MovieRatingData:
    user_df: pd.DataFrame
    movie_df: pd.DataFrame
    movieId2idx: dict
    userId2idx: dict
    idx2userId: dict
    idx2movieId: dict
    num_users: int
    num_movies: int


def load_datasets(user_df, movie_df):
    user_df = user_df.copy()
    movie_df=movie_df.copy()
    
    # Create movieId2idx and userId2idx dictionaries
    movieId2idx = {
        movieId: idx
        for idx, movieId in enumerate(user_df['movieId'].value_counts().index.values) # this arranges the movieid from most voted to least voted
    }
    userId2idx = {
        userId: idx
        for idx, userId in enumerate(user_df["userId"].value_counts().index.values) # this arranges the movieid from most voted to least voted
    }

    # Create reverse mappings for idx to user and idx to movies
    idx2userId = {idx: userId for userId, idx in userId2idx.items()}
    idx2movieId = {idx: movieId for movieId, idx in movieId2idx.items()}

    # Map the original movie and user IDs to their corresponding indices
    user_df["movieId"] = user_df["movieId"].map(movieId2idx)
    user_df["userId"] = user_df["userId"].map(userId2idx)

    dataset = MovieRatingDataset2(user_df)
    movie_rating_df = MovieRatingData(
        user_df=user_df,
        movie_df=movie_df,
        movieId2idx=movieId2idx,
        userId2idx=userId2idx,
        idx2movieId=idx2movieId,
        idx2userId=idx2userId,
        num_movies=len(movieId2idx),
        num_users=len(userId2idx),
    )
    return dataset, movie_rating_df

In [35]:
dd ,modf =load_datasets(user_df=new_user_df, movie_df=new_movie_df)

In [36]:
new_user_df.head()

     userId  movieId  rating
960      11        1     4.5
961      11       10     2.5
962      11       19     3.5
963      11       32     5.0
964      11       39     4.5

In [37]:
print(new_user_df.movieId.unique().max(), new_user_df.movieId.unique().min(), new_user_df.movieId.nunique())
print(modf.user_df.movieId.unique().max(), modf.user_df.movieId.unique().min(), modf.user_df.movieId.nunique())

119145 1 8546
8545 0 8546

In [80]:
from sklearn.decomposition import PCA
from sklearn.metrics.pairwise import cosine_similarity

class SimilarUser():
    def __init__(self, x:MovieRatingDataset2, dim = None):
        self.x = x
        self.pca = None
        self.pivot_table = None


    def create_pivot_table(self, df:pd.DataFrame):
        df = df.copy()
        df = df.pivot_table(index='userId', columns='movieId', values='rating',fill_value = 0)
        return df
        

    def do_pca(self, x, n_components=1000):
        if self.pca == None:
            self.pca = PCA(n_components=n_components)
            self.pca.fit(x)
            return self.pca.transform(x)
        else:
            return self.pca.transform(x)
        
    def similarity(self,idx, x, n=10):
        self.pivot_table=self.create_pivot_table(x)
        from scipy.sparse import csr_matrix
        # convert to sparse matrix for faster calculation of cosine similarities
        sparse_matrix = csr_matrix(self.pivot_table.values)
        
        sim_vec  = cosine_similarity(sparse_matrix, sparse_matrix[idx])
        y = sorted(enumerate(sim_vec), key=lambda x: x[1], reverse=True)
        
        recommended_movies_ids = [i[0] for i in y[1:n+1]]
        print(recommended_movies_ids)


    def similarity2(self,idx, x, n=10):
        self.pivot_table=self.create_pivot_table(x)
        from scipy.sparse import csr_matrix
        # convert to sparse matrix for faster calculation of cosine similarities
        sparse_matrix =  coo_matrix((self.x.user_df.rating.values, (self.x.user_df.userId.values, self.x.user_df.movieId.values))).tocsr()

        
        sim_vec  = cosine_similarity(sparse_matrix, sparse_matrix[idx])
        y = sorted(enumerate(sim_vec), key=lambda x: x[1], reverse=True)
        
        recommended_movies_ids = [i[0] for i in y[1:n+1]]
        print(recommended_movies_ids)

In [81]:
from scipy.sparse import coo_matrix

# Example data: Replace this with your actual data
data = [
    (1, 101, 4.5),
    (2, 102, 3.0),
    (3, 103, 5.0),
    (1, 101, 3.5),
    (2, 102, 2.0)
]

user_ids, movie_ids, ratings = zip(*data)
print(user_ids, movie_ids, ratings)

(1, 2, 3, 1, 2) (101, 102, 103, 101, 102) (4.5, 3.0, 5.0, 3.5, 2.0)

In [82]:

# Create a sparse matrix (similar to a pivot table)
sparse_pivot_matrix = coo_matrix((ratings, (user_ids, movie_ids)))

print("Sparse pivot matrix:")
print(sparse_pivot_matrix.toarray())

Sparse pivot matrix:
[[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 8. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 5. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 5.]]

In [83]:
# Example pivot table
data = {
    'userId': [1, 2, 3, 1, 2],
    'movieId': [101, 102, 103, 101, 102],
    'rating': [4.5, 3.0, 5.0, 3.5, 2.0]
}

pivot_table = pd.pivot_table(pd.DataFrame(data), values='rating', index='userId', columns='movieId')

In [84]:
pivot_table

movieId  101  102  103
userId
1        4.0  NaN  NaN
2        NaN  2.5  NaN
3        NaN  NaN  5.0

In [85]:
# Adding new rows
new_rows_data = {
    'userId': [4, 5],
    'movieId': [101, 103],
    'rating': [4.0, 3.5]
}

new_rows_df = pd.DataFrame(new_rows_data)
new_rows_df

   userId  movieId  rating
0       4      101     4.0
1       5      103     3.5

In [86]:
pivot_table = pivot_table.append(new_rows_df.pivot_table(values='rating', index='userId', columns='movieId'))
print("Updated pivot table:")
print(pivot_table)

AttributeError: 'DataFrame' object has no attribute 'append'

In [87]:
ss = SimilarUser(modf)

In [92]:
%%time
a = ss.similarity(1,ss.x.user_df)

[0, 3, 5, 13, 12, 11, 4, 25, 7, 37]
CPU times: user 6.44 s, sys: 732 ms, total: 7.17 s
Wall time: 7.17 s

In [93]:
%%time
a = ss.similarity2(1,ss.x.user_df)

[0, 3, 5, 13, 12, 11, 4, 25, 7, 37]
CPU times: user 5.63 s, sys: 509 ms, total: 6.14 s
Wall time: 6.14 s

In [90]:
type(a)

NoneType

In [91]:
new_user_df.rating.unique(),new_user_df.rating.nunique()

(array([4.5, 2.5, 3.5, 5. , 2. , 4. , 3. , 0.5, 1.5, 1. ], dtype=float32), 10)

In [ ]:
new_user_df.movieId.value_counts()

In [ ]:
pt = new_user_df.pivot_table(values='rating', index="userId", columns='movieId')
pt.fillna(0, inplace=True)

In [ ]:
pt.head()

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=1000)
user_sim = pca.fit_transform(pt)

In [ ]:
user_sim.shape

In [ ]:
n_components = 1000
explained_variance_ratio = pca.explained_variance_ratio_
cumulative_explained_variance_ratio = np.cumsum(explained_variance_ratio)

information_retained = cumulative_explained_variance_ratio[n_components - 1]
information_loss = 1 - information_retained

print(f"Information retained with {n_components} components: {information_retained:.2f}")
print(f"Information loss: {information_loss:.2f}")

## dataset

In [ ]:
user_df.head()

In [ ]:
# Define a custom dataset class
class MovieRatingDataset(Dataset):
    def __init__(self, df):
        self.df = df.copy()
        
        users = df.userId.sort_values().unique()
        movies = df.movieId.sort_values().unique()
        
        self.num_users = len(users)
        self.num_movies = len(movies) 
        
        self.userId2idx = {userId:idx for idx, userId in enumerate(users)}
        self.movieId2idx = {movieId:idx for idx, movieId in enumerate(movies)}
        
        self.idx2userId = {idx:userId for userId, idx in self.userId2idx.items()}
        self.idx2movieId = {idx:movieId for movieId, idx in self.movieId2idx.items()}
        
        self.df.movieId =  self.df.movieId.map(self.movieId2idx)
        self.df.userId =  self.df.userId.map(self.userId2idx)

    def __len__(self):
        return len(self.df)
    
    def __getitem__(self, idx):
        user_id = torch.tensor(self.df.iloc[idx]['userId'], dtype=torch.int32)
        movie_id = torch.tensor(self.df.iloc[idx]['movieId'], dtype=torch.int32)
        rating = torch.tensor(self.df.iloc[idx]['rating'], dtype=torch.float32)
        return user_id, movie_id, rating

# Model

In [ ]:
import torch
import torch.nn as nn
from pathlib import Path

class RecommenderModel(nn.Module):
    def __init__(self, num_users, num_movies, embedding_dim, model_path:Path=None):
        super(RecommenderModel, self).__init__()
        self.model_path = model_path
        self.user_embedding = nn.Embedding(num_users, embedding_dim)
        self.movie_embedding = nn.Embedding(num_movies, embedding_dim)
        self.user_embedding_bias = nn.Embedding(num_users, 1)
        self.movie_embedding_bias = nn.Embedding(num_movies, 1)
        self.out = nn.Linear(embedding_dim, 1)
        
        
        self.user_embedding.weight.data.uniform_(0, 0.05)
        self.movie_embedding.weight.data.uniform_(0, 0.05)
        self.user_embedding_bias.weight.data.uniform_(-0.01, 0.01)
        self.movie_embedding_bias.weight.data.uniform_(-0.01, 0.01)
        
    def forward(self, user_ids, movie_tags, debug=False):
   
        user_emb = self.user_embedding(user_ids)
        movie_emb = self.movie_embedding(movie_tags)
        
        user_emb_bias = self.user_embedding_bias(user_ids)
        movie_emb_bias = self.movie_embedding_bias(movie_tags)

        interaction = (user_emb * movie_emb) + user_emb_bias + movie_emb_bias
        output = self.out(interaction) 
        if debug:
            print('user_emb.shape   : ',user_emb.shape)
            print('movie_emb.shape  : ',movie_emb.shape)
            print('interaction.shape: ',interaction.shape)
            
            print('user_emb_bias.shape  : ',user_emb_bias.shape)
            print('movie_emb_bias.shape: ',movie_emb_bias.shape)
            
            print('output.shape     :',output.shape)

        return output
    
    def load_model(self, model_path=None):
        if model_path is None:
            model_path = self.model_path
        
        try:
            self.load_state_dict(torch.load(model_path))
            print('Model weights loaded.')
        except FileNotFoundError as e:
            print(f'Weights not found. {e}')
        except RuntimeError as e:
            raise(e)
            
            
    def save_model(self, model_path=None):
        if model_path is None:
            model_path = self.model_path
        torch.save(self.state_dict(), model_path)

In [ ]:
device = 'cuda' if torch.cuda.is_available() else 'cpu'
device

In [ ]:
model = RecommenderModel(10, 45, 8)
model

In [ ]:
test_out = model(torch.randint(1,10,(32,1)).squeeze(), torch.randint(1,45,(32,1)).squeeze(), debug=True).squeeze()
test_out.shape

In [ ]:
def train_model(model, dataloader, optimizer, loss_function, num_epochs=10, device='cpu', data_percent=1.0, steps_per_epoch=None):
    model.to(device)
    print(f'{model.__class__.__name__} Running on: {device}')

    data_size = int(data_percent * len(dataloader))
    dataloader = iter(dataloader)

    for epoch in range(num_epochs):
        total_loss = 0.0
        total_mse = 0.0
        total_mae = 0.0
        total_samples = 0

        epoch_progress = tqdm(range(data_size), desc=f"Epoch [{epoch+1:2}/{num_epochs:2}]")
        
        if steps_per_epoch is not None:
            epoch_progress = tqdm(range(steps_per_epoch), desc=f"Epoch [{epoch+1:2}/{num_epochs:2}]")

        last_update_time = time.time() - 1.0  # Initialize to ensure the first update
        
        for _ in epoch_progress:
            try:
                batch = next(dataloader)
            except StopIteration:
                print("Dataloader is exhausted. Resetting or stopping training.")
                # You might want to break the loop or take some other action here
                break

            user_ids, movie_ids, ratings = batch

            
            user_ids = user_ids.to(device)
            movie_ids = movie_ids.to(device)
            ratings = ratings.to(device)

            optimizer.zero_grad()
            
            outputs = model(user_ids, movie_ids).squeeze()
            
            
            loss = loss_function(outputs, ratings)
            mse = F.mse_loss(outputs, ratings)
            mae = F.l1_loss(outputs, ratings)
            
            loss.backward()
            optimizer.step()
            
            total_mse += mse.item()
            total_mae += mae.item()
            total_samples += len(ratings)
            total_loss += loss.item()

            formatted_loss = f"{loss.item():.8f}"
            formatted_mse = f"{mse.item():.8f}"
            formatted_mae = f"{mae.item():.8f}"
            
            current_time = time.time()
            if current_time - last_update_time > epoch_progress.mininterval:
                epoch_progress.set_postfix({"Loss": formatted_loss, "MSE": formatted_mse, "MAE": formatted_mae})
                epoch_progress.update()
                last_update_time = current_time

            if steps_per_epoch is not None and _ + 1 >= steps_per_epoch:
                break

        # epoch_progress.close()
        average_loss = total_loss / min(data_size, steps_per_epoch) if steps_per_epoch is not None else total_loss / data_size
        average_mse = total_mse / min(data_size, steps_per_epoch) if steps_per_epoch is not None else total_mse / data_size
        average_mae = total_mae / min(data_size, steps_per_epoch) if steps_per_epoch is not None else total_mae / data_size
        
        print(f"Epoch [{epoch+1:2}/{num_epochs:2}] - Average Loss: {average_loss:.8f} - Average MSE: {average_mse:.8f} - Average MAE: {average_mae:.8f}")
        print()

# training

## make Dataset

In [ ]:
# Set batch size for DataLoader
batch_size = 32

# train
dataset = MovieRatingDataset(new_user_df)
dataloader = DataLoader(dataset, batch_size=batch_size, shuffle=True)

print('users : ',dataset.num_users)
print('movies: ',dataset.num_movies)

In [ ]:
# # Iterate through the DataLoader during training
# for batch in dataloader:

#     user_ids, movie_tags, ratings = batch
    
#     print("User IDs:", user_ids, user_ids.shape)
#     print("Movie ids:", movie_tags, movie_tags.shape)
#     print("Ratings:", ratings, ratings.shape)
#     break  # only print the first batch

In [ ]:
# Initialize your model, optimizer, and loss function
num_users = dataset.num_users  # actual number of users #
num_movies = dataset.num_movies  # actual number of tokens
dim = 8

model = RecommenderModel(num_users, num_movies, dim)

# print(f'{num_users=}')
# print(f'{num_movies=}')
# print(f'{model=}')

In [ ]:
optimizer = optim.AdamW(model.parameters(), lr=0.0015)
loss_function = nn.MSELoss()

In [ ]:
# set model path
model_dir = cur_dir.parent/'models'
model_path = model_dir/'model.pth'
model.model_path=model_path

In [ ]:
# load the model is exists
# model.load_model()

In [ ]:
# device = 'cpu'
num_epochs = 10
device

In [ ]:
train_model(model, dataloader,  optimizer, loss_function, num_epochs=num_epochs, device=device, data_percent=0.1)

In [ ]:
# save the model
model.save_model()

# Getting recommendations

In [ ]:
trained_movie_embedding = model.movie_embedding.weight.data.cpu().numpy()
trained_movie_embedding.shape

In [ ]:
from sklearn.cluster import KMeans

In [ ]:
clusters = 10
kmeans = KMeans(n_clusters=clusters,random_state=0).fit(trained_movie_embedding)

In [ ]:
for cluster in range(clusters):
    print('Cluster: ',cluster)
    movs = []
    
    for movidx in np.where(kmeans.labels_==cluster)[0]:
        # print(movidx)
        movieid = dataset.idx2movieId[movidx]
        movie_title = movie_df[movie_df.movieId==movieid].title.values
        movs.append(movie_title)
        print('\t',movie_title)
        
        if len(movs)==15:
            break

In [ ]:
import torch.nn.functional as F

def find_similar_movies(target_movie_embedding, all_movie_embeddings, top_n=5):
    with torch.inference_mode():
        # Calculate cosine similarity
        similarity_scores = F.cosine_similarity(target_movie_embedding, all_movie_embeddings, dim=1)
        
        # Sort movies based on similarity scores
        sorted_indices = torch.argsort(similarity_scores, descending=True)
        
        # Get top N similar movie indices
        top_indices = sorted_indices[:top_n]
        
        # return top_indices
        return top_indices

In [ ]:
def more_movies(idx, n:int=10):
    if isinstance(idx, int):
        new_movie_id = dataset.movieId2idx[idx]
        print(f'Movie : {get_movie_name(idx, new_movie_df)}')

    elif isinstance(idx, str):
        new_movie_id = dataset.movieId2idx[get_movie_id(idx, new_movie_df)]
        print(f'Movie: {idx}')
        
    
    target_movie_embedding = model.movie_embedding(torch.tensor(new_movie_id).to(device)).unsqueeze(0)
    all_movie_embeddings = model.movie_embedding.weight.data

    # Find similar movies
    similar_movie_indices = find_similar_movies(target_movie_embedding, all_movie_embeddings, top_n=n+1)

    movies = []
    for num, i in enumerate(similar_movie_indices,1):
        # print(i)
        movies.append(movie_df[movie_df.movieId==dataset.idx2movieId[i.item()]]['title'].values[0])     
    return movies

In [ ]:
# movie_df[movie_df.title.str.contains('venger')]

In [ ]:
random_movie_id = int(new_user_df.sample(1).movieId.values[0])
print(random_movie_id)

In [ ]:
random_movie_name = new_movie_df.sample(1).title.values[0]
print(random_movie_name)

In [ ]:
# use this as search bar
search = 'avenger'
new_movie_df[new_movie_df.title.str.lower().str.contains(str(search))]

In [ ]:
pp = ['Avengers, The (1998)','Avengers, The (2012)','Captain America: The First Avenger (2011)' ]

for i in pp:
    display(more_movies(idx = i))

Our prediction looks perfect. 
> Note: more the ratings well adjusted the embeddings, movies with less ratings can be seen randomly at any place, because there place in the embedding space is not adjusted enough as highly rated movies.